.findhomes-cont{
    display: flex;
    align-items: center;
    box-sizing: border-box;
}
.allposts {
    display: flex;
    justify-content: center;
    text-decoration: none;
    color: black;
    background-color: #ffD033;
    font-size: 25px;
    width: 50vw;
    box-sizing: border-box;
    height: 33px;
}

.favorites {
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    text-decoration: none;
    color: black;
    background-color: #ffD033;
    font-size: 25px;
    width: 50vw;
    height: 33px;
}
.on{
    border-bottom: 3px solid black;
    color: black;
    box-sizing: border-box;
}
